/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: "verdana, arial, sans-serif";
	background: url('../img/bkg.jpg');
	color: #444;
	border-top: 4px solid #1C4587;
}

body::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar {
background: transparent url('../img/bkg.jpg');
height: 7px;
overflow: visible;
width: 16px;
}

body::-webkit-scrollbar-thumb:hover {
background:rgba(0,0,0,0.3);
}

a, a:link, a:visited {
	color: #1C4587;
	text-decoration: none;
}
a:hover {
	color: #6D9EEB;
	text-decoration: underline;
}

hr {
	border-top: 1px solid #bbb;
	margin: 64px auto;
	width: 80%;
}

.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }
.top { vertical-align: top }
.middle { vertical-align: middle }
.bottom { vertical-align: bottom }
.alignleft { float:left; }
.alignright { float:right; }
.inline { display:inline; }
.inline-block { display:inline-block; }
.clear { clear:both; }
.block { display: block }
.hidden { display:none; }
.hand { cursor:pointer }
.superscript{ font-size:xx-small; vertical-align:top; } 
.bold { font-weight: bold; }
.italic { font-style: italic; }
.white { color: #fff; }
.black { color: #000; }
.blue { color: #1C4587 !important; }
.ltblue { color: #6D9EEB !important; }

h1, h2 {
	color: #999;
	font-family: tahoma;
	margin-bottom: 12px;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 26pt;
}

h3 {
	font-family: tahoma;
	margin: 0 0 12px 0;
}

section {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

section.column {
	width: 400px;
	float: left;
	text-align: center;
}

section.column img {
	margin-bottom: 24px;
}

section.column p {
padding: 0 5px;
}

section.top-level hr {
border-top: 1px dashed #bbb;
margin: 32px auto;
}

#main {
	background: transparent url('../img/lightbkg.png') top center no-repeat;
}

#home-main-header {
	width: 420px;
	margin: 0 auto;
}

#home-main-header h1 {
	color: #1C4587;
}

#home-main-desc {
	font-size: 14pt;
}

#home-main-icons {
	margin: 32px 0;
}

#home-main-icons ul {
	margin: 12px auto;
	padding: 0;
	height: 64px;
	width: 276px;
}

#home-main-icons li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

ul.tags {
	margin: 12px auto;
	padding: 0;
}

ul.tags li {
	list-style: none;
	display: inline;
	margin-right: 5px;
	padding: 2px 6px;
	background-color: #1C4587;
	color: #fff;
	font-size: 10pt;
}

#reading-contents h2 {
	font-size: 1.17em;
}

#reading-contents a {
	color: #444 !important;
}

.gr_grid_container { 
	margin-bottom: 10px; 
} 

.gr_grid_book_container { 
  float: left; 
  width: 98px; 
  height: 160px; 
  padding: 0px 0px;
  overflow: hidden; 
}

#arrow-top {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 64px;
	height: 64px;
	display: none;
}

footer {
	height: 40px;
	color: #FFF;
	background-color: #1C4587;
	text-align: center;
	font-family: "verdana, arial, sans-serif";
	padding: 14px 0 0 0;
	margin-top: 64px;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
